[submodule "third_party/googlebenchmark"]
	path = third_party/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/json/nlohmann"]
	path = third_party/json/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "third_party/json/yyjson"]
	path = third_party/json/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "third_party/json/sajson"]
	path = third_party/json/sajson
	url = https://github.com/chadaustin/sajson.git
[submodule "third_party/json/simdjson"]
	path = third_party/json/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "third_party/json/rapidjson"]
	path = third_party/json/rapidjson
	url = https://github.com/Tencent/rapidjson.git
